# Project raw materials
/Assets/
/brief/

# dependencies
/web/node_modules/
/web/.pnp
/web/.pnp.*
/web/.yarn/*

# next.js build
/web/.next/
/web/out/
/web/build/

# IDEs & System files
.DS_Store
.vscode/
.idea/
*.log
*.zip
*.ppk
*.jpeg
*.jpg
*.png
*.mp4
*.mp3
*.mov
*.JPG
*.MOV

# local env
/web/.env*
/web/.vercel
